apptools==5.2.1
astropy==5.3.4
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs==23.2.0
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4==4.12.3
bleach==6.1.0
blosc2==2.4.0
cattrs==23.2.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
configobj==5.0.8
contourpy==1.2.0
cplot==0.9.3
cryptography==41.0.7
cubature==0.17.2
cycler==0.12.1
Cython==3.0.7
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
docopt==0.6.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
envisage==7.0.3
exceptiongroup==1.2.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastjsonschema==2.20.0
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
fjson==0.1.6
fonttools==4.50.0
idna==3.6
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1698244021190/work
ipython==8.12.3
ipywidgets==8.1.2
jax==0.4.23
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.3
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1698673647019/work
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
llvmlite==0.41.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
matplotx==0.3.10
mayavi==4.8.1
mdurl==0.1.2
meshio==5.3.4
mistune==3.0.2
ml-dtypes==0.3.1
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/mpi4py_1649057539353/work
mpmath==1.3.0
msgpack==1.0.7
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndim==0.1.16
ndindex==1.7
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
networkx==3.2.1
npx==0.1.1
ntplib==0.4.0
numba==0.58.1
numexpr==2.8.8
numpy==1.26.4
opt-einsum==3.3.0
orthopy==0.9.8
packaging==24.0
pandas==2.1.3
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
petsc4py @ file:///home/conda/feedstock_root/build_artifacts/petsc4py_1653072611863/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
pipreqs==0.5.0
pkgconfig @ file:///home/conda/feedstock_root/build_artifacts/pkgconfig_1667031109701/work
platformdirs==4.1.0
polarization==1.0.4
pooch==1.8.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
py-machineid==0.4.6
pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1648908988597/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1648908988597/work
pycparser==2.21
pyerfa==2.0.1.1
pyface==8.0.0
Pygments==2.17.2
PyNaCl==1.5.0
pyparsing==3.1.2
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySide2==5.15.2.1
python-dateutil==2.9.0.post0
python-license-manager==0.2.11
pytz==2023.3.post1
pyvista==0.43.1
pywigxjpf==1.13.3
PyYAML==6.0.1
pyzmq @ file:///croot/pyzmq_1686601365461/work
quadpy==0.16.19
qutip==4.7.3
referencing==0.35.1
requests==2.31.0
requests-cache==1.1.1
rich==13.7.0
rich-argparse==1.4.0
rpds-py==0.19.0
scipy==1.11.4
scooby==0.9.2
seaborn==0.13.0
sfepy==2023.4
shiboken2==5.15.2.1
six==1.16.0
slepc4py @ file:///home/conda/feedstock_root/build_artifacts/slepc4py_1649749427321/work
soupsieve==2.5
sparse==0.14.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.12
tables==3.9.2
tinycss2==1.3.0
tomli==2.0.1
tomli_w==1.0.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827254365/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1698671135544/work
traits==6.4.3
traitsui==8.0.0
typing_extensions==4.9.0
tzdata==2023.3
url-normalize==1.4.3
urllib3==2.1.0
vtk==9.2.6
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1698744702785/work
webencodings==0.5.1
widgetsnbextension==4.0.10
x21==0.4.25
yarg==0.1.9
